<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <img src="imagem/Logo.png" alt="Logo" class="logo">
            <button class="button">Entrar</button>
        </div>
        <div class="content">
        </div>
        <div class="bottom-bar">
            <button class="button">Contato</button>
        </div>
    </div>
</body>
</html>
